.list-container
  .full-width
    %ul.parts-nav.clearfix
      %li
        = link_to do
          fugafugaaaaaaaaaa
      %li
        = link_to do
          fugafugaaaa
      %li
        = link_to do
          fugafugaaaaaaaaaaaaaaaaaaaa
      %li
        = link_to do
          fugafugaaaaaaaaaa
      %li
        = link_to do
          fugafugaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
      %li
        = link_to do
          fugafuga
      %li
        = link_to do
          fugafugaaaaaaaaaaaaaaaaaa
      %li
        = link_to do
          fugafuga
      %li
        = link_to do
          fugafugaaaaaaaaaaaaaaaa
    %section.items-box-container.clearfix
      %h1.items-box-head
        hogehogeの商品一覧
      .items-box-content.clearfix
        - @items.each do |item|
          = render partial: 'shared/items-list/item-box', locals: {item:item}

    .pager
      = paginate @items
      .pager-num
        %ul
          %li
            %ul.left-buttons
              %li.button-cell
              %li.button-cell
          %li
            %ul.main-buttons
              %li.button-cell
              %li.button-cell
              %li.button-cell
              %li.button-cell
              %li.button-cell
          %li
            %ul.right-buttons
              %li.button-cell
              %li.button-cell
    .under-decoration
      .text-red
        hogehoge
      .text-white
        %p
          ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
