.signup-header
.sign-up-main
  .sign-up-main__info
    会員情報入力
  .sign-up-main__form
    = form_for @user,url:{action:"confirm"} do |f|
      = devise_error_messages!
      .form_field1
        = f.label :ニックネーム
        %span.form-require
          必須
        %br/
        = f.text_field :nickname,placeholder:"例）メルカリたろう"
      .form_field
        = f.label :メールアドレス
        %span.form-require
          必須
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email",placeholder:"PC・携帯どちらでも可"
      .form_field
        = f.label :パスワード
        %span.form-require
          必須
        %br/
        = f.password_field :password, autocomplete: "new-password",placeholder:"6文字以上"
      .form_field
        = f.label :確認用パスワード
        %span.form-require
          必須
        %br/
        = f.password_field :password_confirmation, autocomplete: "new-password",placeholder:"6文字以上"
        = f.hidden_field :prefecture_id,:value => "1"
      .recapcha
      .submit-btn
        = f.submit "次へ進む",class:"next-btn"
    / = render "devise/shared/links"
