= render partial: "items/header"
.default-container
  %nav.bread-crumbs
    %ul
      %li
        =link_to root_path do
          メルカリ
        = fa_icon "angle-right"
      %li
        %span  マイページ
  %main.large-container.clearfix
    .large-content
      .edit-profile-box
        .edit-profile-box__head
          プロフィール
        .edit-profile-box__user-info
          .edit-profile-box__user-info__box
            .edit-profile-box__user-info__box__icon
              = image_tag('aaa.jpg')
            %input.name{:placeholder => "名前が入ります", :type => "text",:color => "black",:value => "たいが"}
        .edit-profile-box__message
          %textarea.profile-box{:placeholder => "もう疲れました、まじまんじ", :type => "text",:color => "black",:value => "たいが"}
          .edit-profile-box__update-btn
            変更する
    = render partial: "mypage-left-side"
= render partial: "items/footer"
