.list-container
  .full-width
    %ul.parts-nav.clearfix
      %li
        = link_to do
          fugafugaaaaaaaaaa
      %li
        = link_to do
          fugafugaaaa
      %li
        = link_to do
          fugafugaaaaaaaaaaaaaaaaaaaa
      %li
        = link_to do
          fugafugaaaaaaaaaa
      %li
        = link_to do
          fugafugaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
      %li
        = link_to do
          fugafuga
      %li
        = link_to do
          fugafugaaaaaaaaaaaaaaaaaa
      %li
        = link_to do
          fugafuga
      %li
        = link_to do
          fugafugaaaaaaaaaaaaaaaa
    %section.items-box-container.clearfix
      %h1.items-box-head
        hogehogeの商品一覧
      .items-box-content.clearfix
        .item-box
          =link_to do
            = image_tag("仮置き用.jpg")
            .item-box-text
              .text-box
                %h4
                  ああああああああああああああああああああああ
              .price
                ¥10,000
              .price-tax
                (税込)
              .nice
                %i.fa.fa-heart
                %span
                  1
    .pager
      .pager-num
        %ul
          %li
            %ul.left-buttons
              %li.button-cell
              %li.button-cell
          %li
            %ul.main-buttons
              %li.button-cell
              %li.button-cell
              %li.button-cell
              %li.button-cell
              %li.button-cell
          %li
            %ul.right-buttons
              %li.button-cell
              %li.button-cell
    .under-decoration
      .text-red
        トップス（レディース）
      .text-white
        %p
          トップス(レディース)の着ない服、いらない洋服を売るならメルカリへ。トップスはレディースの下にあるカテゴリで商品は100万点以上あります。よく見られているカテゴリーはジャージやTシャツ/カットソー(七分/長袖)です。特に人気の商品は「アシックス デュアルサーモパンツ ジャージ L黒」や「トップス」や「OZOC　ニットワンピース」があります。トップスの買い取りやリサイクル処分、服の整理を検討中の方にお勧めです。


