= render 'layouts/sellheader'
%main.single-main
  .buy-head
    購入を確定しますか？
  .buy-item
    .buy-item__image
      = image_tag("#{@item_images[0]&.image}")
    .buy-item__name.bold
      = "#{@item.name}"
    %form.buy-item__box
      .buy-item__price.bold
        ="¥#{@item.price}"
        %span.buy-item__shipping-fee
        ="#{@delivery_way.way}"
      .buy-item__toggle
        ポイントはありません
      .buy-item__cell
        支払い金額
        %span.buy-item__price-cell
          ="¥#{@item.price}"
      .buy-item__btn

  .buy-user-info
    .buy-user-info__delivery 配送先
    .buy-user_info__zipcode
      ="〒#{@user.zip_code}"
    .buy-user-info__adress
      ="#{@user.prefecture.prefecture + @user.city + @user.address + @user.building}"
      %br
      ="#{@user.nickname}"
    %a.buy-user-info__change-btn
      %span.change-link 変更する
      %i.fa.fa-angle-right
= render 'layouts/sellfooter'
