= render partial: "items/header"
-# .breads
-#   - breadcrumb :first_category, @first_category
-#   = breadcrumbs separator: "#{content_tag(:i, '', :class=>'fa fa-angle-right')}"
.breads
  - breadcrumb :category
  = breadcrumbs separator: "#{content_tag(:i, '', :class=>'fa fa-angle-right')}"

= render partial: "categorys/index_folder/items-list"

= render partial: "items/footer"
